%div.container
  %h1 Tables

  Parsing File

  %div.progress.progress-striped.active{:style => 'width: 40%;'}
    %div.bar.progress{:style => 'width: 20%;'}

  %div.panel.panel-default
    %table.table.table-bordered.table-striped#main_data
      %thead
        %tr
          - @headers.each do |column_header|
            %th
              %div.headerCellDiv
              = column_header
        %tr
          - i = 1
          - @headers.each do
            %td.sorter-false
              %input.span2.colSearch{:id => "search" + i.to_s}
              - i = i + 1
      %tbody
        - @records.each do |record|
          - i = 0
          %tr
            - fields = record.split("|")
            - fields.each do |field|
              %td{:class => ("cell" + (i + 1).to_s)}= field
              - i = i + 1

  %div.pager#pager
    %form
      %img.first{:src => "http://mottie.github.com/tablesorter/addons/pager/icons/first.png"}
      %img.prev{:src => "http://mottie.github.com/tablesorter/addons/pager/icons/prev.png"}
      %span.pagedisplay
        /<!-- this can be any element, including an input
      %input.pagedisplay{:type => "text"}
      %img.next{:src => "http://mottie.github.com/tablesorter/addons/pager/icons/next.png"}
      %img.last{:src => "http://mottie.github.com/tablesorter/addons/pager/icons/last.png"}
      %select.pagesize
        %option{:selected => "selected", :value => "10"} 10
        %option{:value => "20"} 20
        %option{:value => "30"} 30
        %option{:value => "40"} 40
