%div.container
  %h1 Tables

  Parsing File

  %div.progress.progress-striped.active{:style => 'width: 40%;'}
    %div.bar.progress{:style => 'width: 20%;'}

  %div.panel.panel-default
    %table.table.table-bordered.table-striped#main_data
      %thead
        %tr
          - @headers.each do |column_header|
            %th
              %div.headerCellDiv
              = column_header
        %tr
          - i = 1
          - @headers.each do
            %td.sorter-false
              %input.span2.colSearch{:id => "search" + i.to_s}
              - i = i + 1
      %tbody
        - @records.each do |record|
          - i = 0
          %tr
            - fields = record.split("|")
            - fields.each do |field|
              %td{:class => ("cell" + (i + 1).to_s)}= field
              - i = i + 1

