%div.container
  %h1 Tables

  Parsing File

  %div.progress.progress-striped.active{:style => 'width: 40%;'}
    %div.bar.progress{:style => 'width: 20%;'}

  %div.panel.panel-default
    %table.table.table-bordered.table-striped#main_data
      %thead
        %tr
          %th
            %i.icon-arrow-down
            first_name
          %th last_name
          %th street_address
          %th city
          %th state
          %th zip
          %th bar_visits
      %tbody
        %tr
          %td Frank
          %td Vinci
          %td 802 N Monroe St
          %td Media
          %td PA
          %td 19063
          %td 1
        %tr
          %td Susan
          %td Turner
          %td 627 N Monroe St
          %td Media
          %td PA
          %td 19063
          %td 3


