%div.container
  %h1 Tables

  Parsing File

  %div.progress.progress-striped.active{:style => 'width: 40%;'}
    %div.bar.progress{:style => 'width: 20%;'}

  %table
    %tr
      %td first_name
      %td last_name
      %td street_address
      %td city
      %td state
      %td zip
      %td bar_visits
    %tr
      %td Frank
      %td Vinci
      %td 802 N Monroe St
      %td Media
      %td PA
      %td 19063
      %td 1
    %tr
      %td Susan
      %td Turner
      %td 627 N Monroe St
      %td Media
      %td PA
      %td 19063
      %td 3
