%div.container
  %h1 Tables

  Parsing File

  %div.progress.progress-striped.active{:style => 'width: 40%;'}
    %div.bar.progress{:style => 'width: 20%;'}

  %div.panel.panel-default
    %table.table.table-bordered.table-striped#main_data
      %thead
        %tr
          %th
            /%i.icon-arrow-down
            %div.headerCellDiv
            first_name
          %th
            %div.headerCellDiv
            last_name
          %th
            %div.headerCellDiv
            street_address
          %th
            %div.headerCellDiv
            city
          %th
            %div.headerCellDiv
            state
          %th
            %div.headerCellDiv
            zip
          %th
            %div.headerCellDiv
            bar_visits
        %tr
          %td
            %input.span2.colSearch#search1
          %td
            %input.span2.colSearch#search2
          %td
            %input.span2.colSearch#search3
          %td
            %input.span2.colSearch#search4
          %td
            %input.span2.colSearch#search5
          %td
            %input.span2.colSearch#search6
          %td
            %input.span2.colSearch#search7
      %tbody

        %tr
          %td.cell1 Frank
          %td.cell2 Vinci
          %td.cell3 802 N Monroe St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 1
        %tr
          %td.cell1 Susan
          %td.cell2 Turner
          %td.cell3 627 N Monroe St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 3
        %tr
          %td.cell1 Amanda
          %td.cell2 Vinci
          %td.cell3 333 S Orange St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 7


